.topicos {
  background: var(--azul-degrade);
  text-align: center;
  padding: 1em 0;
  margin-bottom: 1em;
}
.topicos__titulos {
  color: var(--branco);
  font-weight: 300;
}

.topicos__lista {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.topicos__lista__link {
  color: var(--branco);
  font-size: 14px;
  font-weight: 700;
  padding: 1em;
  background-color: var(--dourado);
  text-decoration: none;
}
.topicos__lista__item {
  margin: 2em 0.5em;
}
